/*BEGIN 8BitdoPro SF30 Controller Styling*/
.controller.custom{
    background: url(img/base.png);
    width: 1111px;
    height: 582px;
    margin-left: -375px;
    margin-top: -285px;
}
.custom.white{
}
.custom.disconnected {
    background: url(img/disconnected.png);    
}
.custom{
    background: no-repeat center;
}
/*END 8Bitdo Pro SF30 Styling*/
